@model MutluSporSalonu.Models.Randevu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uye.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antrenor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antrenor.AntrenorAdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hizmet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hizmet.HizmetAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuBaslangicSaati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuBaslangicSaati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuBitisSaati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuBitisSaati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuUcret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuUcret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuOnaylandiMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuOnaylandiMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuOlusturulmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuOlusturulmaTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RandevuID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
