@model IEnumerable<MutluSporSalonu.Models.Antrenor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AntrenorAdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntrenorUzmanlikAlanlari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntrenorTelefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntrenorEposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntrenorMusaitlikBaslangic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntrenorMusaitlikBitis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SporSalonu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AntrenorAdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntrenorUzmanlikAlanlari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntrenorTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntrenorEposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntrenorMusaitlikBaslangic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntrenorMusaitlikBitis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SporSalonu.SalonAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AntrenorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AntrenorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AntrenorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
