@model MutluSporSalonu.Models.Hizmet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hizmet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HizmetAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HizmetAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HizmetSureDakika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HizmetSureDakika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HizmetUcret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HizmetUcret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HizmetAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HizmetAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SporSalonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SporSalonu.SalonAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HizmetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
